
<div class="container mt-5">
  <h1>Корзина</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Название</th>
      <th>Автор</th>
      <th>Цена</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of basket?.books">
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.price }} &#8381;</td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="remove(book._id)" >Удалить</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="text-right">
    <h4>Всего: {{ getTotal() }} &#8381;</h4>
    <button class="btn btn-dark" (click)="openModal()">Оплатить</button>
  </div>

</div>
