<div class="book-info-wrap">
  <div class="back-link">
    <a href="/home">&larr; Назад</a>
  </div>
  <div class="mt-4">
    <div class="book-item">
      <div class="book-details">
        <div class="book-image">
          <img class="book-cover" src="https://source.unsplash.com/random/400x600?sig=1" alt="Book Cover">
        </div>
        <div class="book-info">
          <h2>{{book?.name}}</h2>
          <p class="author">{{book?.author}}</p>
          <div class="rating">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
          </div>
          <div class="description">
            <p>{{book?.description}}</p>
          </div>
          <p class="price">{{book?.price}} &#8381;</p>
          <button class="add-to-cart" (click)="addToBasket()">Добавить в корзину</button>
        </div>
      </div>
    </div>
  </div>
</div>
