<header>
  <div class="container">
    <nav>
      <div class="logo">
        <a href="/home"><img src="logo.png" alt="Bookstore Logo"></a>
      </div>
      <ul class="menu">
        <li><a href="/auth">Личный кабинет</a></li>
        <li><a href="#">Категории</a></li>
        <li><a href="#">Авторы</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Корзина</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="h-100">
  <router-outlet></router-outlet>
</div>



<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum erat eget ultricies ullamcorper.</p>
      </div>
      <div class="col-md-4">
        <h3>Contact Us</h3>
        <p>123 Bookstore Street, City</p>
        <p>Phone: 123-456-7890</p>
        <p>Email: info@example.com</p>
      </div>
      <div class="col-md-4">
        <h3>Follow Us</h3>
        <ul class="social-icons">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom-bar">
    <div class="container">
      <p>&copy; 2023 Bookstore. All rights reserved.</p>
    </div>
  </div>
</footer>
