
header {
  background-color: #333;
  color: #fff;
  padding: 15px 0;
}

body{
  background-color: #f9f9f9;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-router {
  background-color: #f9f9f9;
}

.all-content {
  background-color: #f9f9f9;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  max-height: 50px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu li:first-child {
  margin-left: 0;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #f9f9f9;
}



/* Footer Styles */
footer {
  background-color: #f9f9f9;
  padding: 0;
  bottom: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
  line-height: 1.5;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li a {
  color: #333;
  font-size: 18px;
}

.bottom-bar {
  background-color: #333;
  padding: 10px 0;
  color: #fff;
  text-align: center;
}

.bottom-bar p {
  margin: 0;
}

@media (max-width: 767px) {
  .col-md-4 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}
