<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-5">
      <div class="card shadow">
        <div class="card-body">
          <h4 class="card-title text-center mb-4">Регистрация</h4>
          <form (ngSubmit)="registerUser()" #form="ngForm">

            <div class="form-group mb-4">
              <input id="nameInput" [placeholder]="namePlaceholder" type="text" class="form-control" pInputText [(ngModel)]="name" name="name" required />
            </div>

            <div class="form-group mb-4">
              <input id="surnameInput" [placeholder]="surnamePlaceholder" type="text" class="form-control" pInputText [(ngModel)]="surname" name="surname" required />
            </div>

            <div class="form-group mb-4">
              <input id="emailInput"  [placeholder]="emailPlaceholder"  type="email" class="form-control" pInputText [(ngModel)]="email" name="email" required [pattern]="emailPattern" />
            </div>

            <div class="form-group mb-4">
              <input id="passwordInput" [placeholder]="passwordPlaceholder" type="password" class="form-control" pInputText [(ngModel)]="password" name="password" required />
            </div>

            <div class="form-group mb-4">
              <input id="passwordRepeatInput" [placeholder]="passwordRepeatPlaceholder" type="password" class="form-control" pInputText [(ngModel)]="passwordRepeat" name="password-repeat" required />
            </div>

            <button type="submit" class="btn btn-dark btn-block"   [disabled]="!form.valid">Регистрация</button>
          </form>
        </div>
        <div class="card-footer text-center">
          <small>Есть аккаунт? <a routerLink="/auth" class="link-dark link-opacity-50-hover">Авторизация</a></small>
        </div>
      </div>
    </div>

  </div>

</div>


<p-toast></p-toast>

